#NoEnv  ; Recommended for performance and compatibility with future AutoHotkey releases.
; #Warn  ; Enable warnings to assist with detecting common errors.
SendMode Input  ; Recommended for new scripts due to its superior speed and reliability.
SetWorkingDir %A_ScriptDir%  ; Ensures a consistent starting directory.

; Change Key mapping
Capslock::Ctrl
LCtrl::Capslock

; Will click (put focus on the left or right screen application <Win>+<Right>
^1::
CoordMode, Mouse, Screen
Click 2, 0
return
^2::
CoordMode, Mouse, Screen
Click 1922, 0
return

!t::
	WinExist("ahk_class Shell_TrayWnd")

	t := !t

	If (t = "1") {
		WinHide, ahk_class Shell_TrayWnd
		WinHide, Start ahk_class Button
	} Else {
		WinShow, ahk_class Shell_TrayWnd
		WinShow, Start ahk_class Button
	}
return
